<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta charset="utf-8">
    <title>Blood Banks</title>
  </head>
  <body>
    <header>
      <h1>Blood Bank Match Application</h1>
    </header>
    <div class="container">
      <nav>
        <a href="/home">Home</a> |
        <a href="/patients/new">Add Patient</a> |
        <a href="/donors/list">Donors</a> |
        <a href="/bloodbanks/list">Blood Banks</a>
      </nav>

      @if (@Model.Count == 0)
      {
        <p><span class="red">No patient matches your search</span></p>
      } else
      {
        <h2>Found Patients:</h2>
        <ul>
          @foreach (var patient in @Model)
          {
            <li><a href="/@patient.GetId()/details">@patient.GetName()</a>
            @if(patient.GetNeedBlood())
            {
              <p><span class="red">Need blood</span></p>
            }
            </li>
          }
        </ul>
      }
    </div>
  </body>
</html>
